html, body {
  margin: 0;
}

#canvas {
  display: block;
  border: 1px solid #000000;
  margin: 40px auto;
}

button {
  background-color: #333;
  color: #fff;
  border: 0;
  margin: 4px;
  padding: 10px;
}

button.active {
  background-color: #666;
}